.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-container {
  display: inline-block;
  height: 100vh;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.App-svg-content {
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}

polygon.hexagon {
  stroke-opacity: 0;
  stroke-width: 0.25;
  stroke: white;
  transition: 0.2s;
  fill: #cccccc;
}

polygon.hexagon:hover {
  stroke-opacity: 1;
}

polygon.hexagon-inactive {
  fill: #cccccc;
}

polygon.hexagon-selected {
  stroke-opacity: 1;
}
