.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-container {
  display: inline-block;
  height: 100vh;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.App-svg-content {
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.hexagon {
  stroke-opacity: 0;
  stroke-width: 0.25;
  stroke: black;
  transition: 0.4s;
}

.hexagon:hover {
  stroke-opacity: 1;
}
